.expand_delete{
  cursor: pointer;
  background-color: $primary-color-light;
  padding: .25rem .65rem;
  border-radius: 3px;
  font-size: 1.25rem;
  float: right;
}

.delete {
  @extend .expand_delete;
  margin-right: 0;
  margin-bottom: 5px;
  background-color: $logo-color;
}


// .expand {
//   @extend .expand_delete;
//   margin-right: calc(90% - 200px);


// li {
//   height: 3rem;
//   font-size: 1em;
// }

// .trips-p {
//   display: none;
// }

// .main-content {
//   h1{
//     text-align: center;
//     font-size: 2em;
//     color: $text-dark;
//     font-family: 'Josefin Sans', sans-serif;
//     font-weight: bold;
//     @media only screen and (min-width: 650px) {
//       font-size: 5em;
//     }
//   }
//   .trips-rows {
//     // background-color: primary-color-dark;
//     border-top: 1px solid black;
//     border-bottom: 1px solid black;
//   }
// }
.hide {
  display: none;
}
.rotate {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}



.third-banner {
  font-family: 'Josefin Sans', sans-serif;
  font-size: .9em;
  position: absolute;
  width: 100%;
  color: $text-light;
  ul{
  @include flex-container(flex,row,nowrap,space-around,center,center);
    padding-left: 0;
  }
  li a{
    color: $text-light;
    margin-right: 1em;
  }
  @media only screen and (min-width: 650px) {
  font-size: 2.5em;
  }
  ul{
    // padding-top: 1.5em;
  }
}
.banner-imgs-3{
  overflow: hidden;
  color: $text-light;
  @media only screen and (min-width: 320px) {
  height: 50px;
  margin-bottom: 1em;
 }

  @media only screen and (min-width: 410px) {
    height: 100px;
  }

  img {
    width: 100%;
  }

}
.banner-imgs-4{
  overflow: hidden;
  color: $text-light;
  @media only screen and (min-width: 320px) {
  height: 50px;
  margin-bottom: 1em;
 }

  @media only screen and (min-width: 410px) {
    height: 100px;
  }

  img {
    width: 100%;
  }

}

// desktop layout
@media only screen and (min-width: 650px) {

  .content{
    @include flex-container(flex,row,wrap,center,center,center);
    width: 500px;
    background-color: $text-light;
    border-radius: 4px;
  }
  .display-your-trips{
    height: 500px;
    overflow: auto;
  }
  .main-content{
  }
  .main-filters{
  @include flex-container(flex,row,nowrap,space-around,center,center);
  height: 570px;
  background: linear-gradient(to top left, #3E606F, $primary-color-light);
  padding-bottom: 2em;
  margin-bottom: 5em;
  }
.main-filters-create{
@include flex-container(flex,row,nowrap,space-around,center,center);
  height: 570px;
  background: linear-gradient(to top left, $primary-color-light, #3E606F);
  padding-bottom: 2em;
  margin-bottom: 5em;
  }
  .main-find{
    width: 500px;
  }
  .main-create{
    width: 500px;

  }
  .main-trips{
    @include flex-container(flex,column,nowrap,flex-start,center,center);
  }
}




